body {
  color: black;
  font-family: candara;
  /* background-image: url('../assets/poke.jpg'); */
}

div.leftside {
  float: left;
  width: 50%;
}

div.rightside {
  float: right;
  width: 50%;
}


input[type=text], select {
  padding: 5px 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  font-size: 10px;
  align: left;
}

select {
  -webkit-appearance: none;
  font-family: candara;
  padding: 5px 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



/* body {
  color: black;
  font-family: candara;
  /* background-image: url('../assets/poke.jpg'); */
/* }

.pokeimage {
  height: 10;
  align: middle;
  display: inline-block;
  float: left;
}

a {
  font-size: 5px;
} */





/* div.absolute {
  position: absolute;
  width: 50%;
  bottom: 0;
  align:left;
  border: 3px solid #8AC007;
  left:0;
} */

/* link {
    font-size: 8px;
} */

/* div.source {
  position: absolute;
  bottom: 0;
  left: 0;
} */
