<!DOCTYPE html>
<html>
  <head>
    <title>PokePredictor</title>
    <style>
      body {
        background-color: rgba(180, 180, 180);
        color: black;
        font-family: candara;
      }
      </style>
  </head>
  <body>

    <h2><b>PokePredictor</b></h2>
    <form action = "/result" method="POST">

      <h4>Enter your PokeGo information to see <br />
        the Pokemon you are searching for.</h4>

        <p>Latitude:<input name="latitude" type="number"></p>

        <p>Longitude:<input name="longitude" type="number"></p>

        <p>Close to water:
        <select name="close_to_water">
          <option value="True">Yes</option>
          <option value="False">No</option>
        </select>

        <p>City:
          <select name="city">
          <option value="Adelaide">Adelaide</option>
          <option value="Amman">Amman</option>
          <option value="Amsterdam">Amsterdam</option>
          <option value="Athens">Athens</option>
          <option value="Auckland">Auckland</option>
          <option value="Bahia">Bahia</option>
          <option value="Bangkok">Bangkok</option>
          <option value="Belem">Belem</option>
          <option value="Berlin">Berlin</option>
          <option value="Bogota">Bogota</option>
          <option value="Boise">Boise</option>
          <option value="Bratislava">Bratislava</option>
          <option value="Brisbane">Brisbane</option>
          <option value="Brunei">Brunei</option>
          <option value="Brussels">Brussels</option>
          <option value="Bucharest">Bucharest</option>
          <option value="Buenos_Aires">Buenos Aires</option>
          <option value="Cairo">Cairo</option>
          <option value="Casablanca">Casablanca</option>
          <option value="Chicago">Chicago</option>
          <option value="Copenhagen">Copenhagen</option>
          <option value="Cordoba">Cordoba</option>
          <option value="Costa_Rica">Costa Rica</option>
          <option value="Damascus">Damascus</option>
          <option value="Denver">Denver</option>
          <option value="Detroit">Detroit</option>
          <option value="Dubai">Dubai</option>
          <option value="Dublin">Dublin</option>
          <option value="Edmonton">Edmonton</option>
          <option value="Fortaleza">Fortaleza</option>
          <option value="Guam">Guam</option>
          <option value="Guayaquil">Guayaquil</option>
          <option value="Guyana">Guyana</option>
          <option value="Halifax">Halifax</option>
          <option value="Helsinki">Helsinki</option>
          <option value="Ho_Chi_Minh">Ho Chi Minh</option>
          <option value="Hobart">Hobart</option>
          <option value="Hong_Kong">Hong Kong</option>
          <option value="Honolulu">Honolulu</option>
          <option value="Indianapolis">Indianapolis</option>
          <option value="Isle_of_Man">Isle of Man</option>
          <option value="Istanbul">Istanbul</option>
          <option value="Jakarta">Jakarta</option>
          <option value="Jerusalem">Jerusalem</option>
          <option value="Karachi">Karachi</option>
          <option value="Kiev">Kiev</option>
          <option value="Kolkata">Kolkata</option>
          <option value="Kuala_Lumpur">Kuala Lumpur</option>
          <option value="Kuching">Kuching</option>
          <option value="Lisbon">Lisbon</option>
          <option value="Ljubljana">Ljubljana</option>
          <option value="London">London</option>
          <option value="Los_Angeles">Los_Angeles</option>
          <option value="Louisville">Louisville</option>
          <option value="Luanda">Luanda</option>
          <option value="Luxembourg">Luxembourg</option>
          <option value="Madrid">Madrid</option>
          <option value="Manila">Manila</option>
          <option value="Melbourne">Melbourne</option>
          <option value="Mexico_City">Mexico City</option>
          <option value="Monrovia">Monrovia</option>
          <option value="Monterrey">Monterrey</option>
          <option value="Montreal">Montreal</option>
          <option value="Moscow">Moscow</option>
          <option value="Nairobi">Nairobi</option>
          <option value="New_York">New York</option>
          <option value="Nicosia">Nicosia</option>
          <option value="Noumea">Noumea</option>
          <option value="Oslo">Oslo</option>
          <option value="Paris">Paris</option>
          <option value="Perth">Perth</option>
          <option value="Phnom_Penh">Phnom Phenh</option>
          <option value="Phoenix">Phoenix</option>
          <option value="Prague">Prague</option>
          <option value="Puerto_Rico">Puerto Rico</option>
          <option value="Regina">Regina</option>
          <option value="Reunion">Reunion</option>
          <option value="Reykjavik">Reykjavik</option>
          <option value="Rome">Rome</option>
          <option value="Santiago">Santiago</option>
          <option value="Sao_Paulo">Sao Paulo</option>
          <option value="Sarajevo">Sarajevo</option>
          <option value="Singapore">Singapore</option>
          <option value="Stockholm">Stockholm</option>
          <option value="Sydney">Sydney</option>
          <option value="Tahiti">Tahiti</option>
          <option value="Taipei">Taipei</option>
          <option value="Tokyo">Tokyo</option>
          <option value="Toronto">Toronto</option>
          <option value="Tripoli">Tripoli</option>
          <option value="Tunis">Tunis</option>
          <option value="Vancouver">Vancouver</option>
          <option value="Vienna">Vienna</option>
          <option value="Vilnius">Vilnius</option>
          <option value="Warsaw">Warsaw</option>
          <option value="Winnipeg">Winnipeg</option>
          <option value="Zagreb">Zagreb</option>
          <option value="Zurich">Zurich</option>
        </select>

      <!-- <p>Weather:
        <select name="weather">
          <option value = "Breezy">Breezy</option>
          <option value = "Clear">Clear</option>
          <option value = "DangerouslyWindy">Dangerously Windy</option>
          <option value = "Drizzle">Drizzle</option>
          <option value = "Dry">Dry</option>
          <option value = "Foggy">Foggy</option>
          <option value = "HeavyRain">Heavy Rain</option>
          <option value = "Humid">Humid</option>
          <option value = "LightRain">Light Rain</option>
          <option value = "MostlyCloudy">Mostly Cloudy</option>
          <option value = "Overcast">Overcast</option>
          <option value = "PartlyCloudy">Partly Cloudy</option>
          <option value = "Rain">Rain</option>
          <option value = "Windy">Zurich</option>
        </select> -->

        <p>Temperature:<input name="temperature" type="number"></p>

        <p>Population Density:<input name="population_density" type="number"></p>

      <p><input type ="submit" value="submit"/></p>

    </form>
  </body>
</html>
